<div class="jumbotron text-center bg-light">
  <h1 class="display-4">Welcome Procrastinators!</h1>
  <p class="lead">Cool tag line</p>
  <hr class="my-4" />
  <p>Mission Statement</p>
  <a class="btn btn-primary btn-lg mt-4" href="#" role="button">Sign Up</a>
</div>