<div class="jumbotron text-center bg-light">
  <h1 class="display-4">Welcome Procrastinators!</h1>
  <p class="lead">Time to kick A**</p>
  <hr class="my-4" />
  <p>Our mission is to reduce the boring old habit of procrastination. Track, complete and manage projects and tasks in
    a better, faster and more meaningful way with our procrastination tracker!</p>
  <a class="btn btn-primary btn-lg mt-4" href="/login" role="button">Sign Up</a>
</div>